#welcome {
  background-color: #373733;
  color: aliceblue;
  font-family: monospace;
  font-style: italic;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  font-size: 30px;
}
a {
  color: red;
  justify-content: right;
  display: flex;
  font-size: 20px;
}

.paragraph {
  font-family: monospace;
}

.divPage {
  border: #373733 solid 2px;
  padding: 10px;
  margin-bottom: 10px;
}

.divPage h2 {
  font-family: monospace;
  font-size: 26px;
}

input {
  font-family: monospace;
}

.inputs {
  width: 250px;
}
